# Python
venv/
__pycache__/
*.pyc

# Android
.gradle/
.idea/
build/
app/build/
*.apk
*.aab

# Python virtual env
.env
venv/

# AI Models
*.pt
*.pth
*.onnx

# Videos
*.avi
*.mp4
*.mov
!web/moon-walk.mp4

# Logs
*.log
full_logcat.txt